<!DOCTYPE html>
    <html>
        <body>
            <h1> <%= params[:team][:name] %></h1>
            <h2>Team Motto: <%= params[:team][:motto] %></h2>
            <% params[:team][:hero].each do |hero| %>
                <h2>Hero Name: <%= hero[:name] %></h2>
                    <p>Hero Power: <%= hero[:power] %></p>
                    <p>Hero Biography: <%= hero[:biography] %></p>
            <% end %>


    </html>